.login-wrapper {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #843bc7;
    margin-left: 120px;
    margin-top: -20px;
    margin-bottom: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.side {
    background: url(../img/bk.png) no-repeat;
    background-size: 100% 102%;
}

.side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side img {
    max-width: 100%;
    height: auto;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    max-width: 400px;
    width: 100%;
    margin-top: -80px;
}

.form-control {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control input {
    width: 115%;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-left: -24px;
    margin-top: -7px;
    padding-left: 3rem;
}

input:focus ~ i {
    color: #843bc7;
}

.form-control i {
    position: absolute;
    top: 50%;
    left: 12px;
    right: 1rem;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.submit {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
    border-radius: 25px;
    display: block;       
    margin-left: auto;   
    margin-right: auto;
}

button.submit:hover {
    opacity: 0.9;
}